/* Centered text */
html {
    scroll-behavior: smooth;
  }

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.myhr{
    border: 1.5px solid rgb(103, 74, 170);
}
ul {
    list-style-type: none;
}

.card{
    border-radius: 9px;
    box-shadow: 0 10px 20px;
}



.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.zoom:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2); 
}

.zoom {
    transition: transform .5s;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
 /* height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid black;
  background-image: none;*/
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: rgb(103, 74, 170);
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: rgb(103, 74, 170);
}

.carousel .carousel-indicators li {
    background-color: rgba(70, 70, 70, 0.25);
    background-color: rgba(70, 70, 70, 0.25);
  }

.carousel-indicators .active{
    background-color:rgb(103, 74, 170);
}
